
span.ni-ji{  background-color: rgb(48, 25, 175); }

span.niji{
    background-color: brown;
}

span.i{  background-color: rgb(175, 25, 25); }
span.a{  background-color: rgb(172, 175, 25); }
