
span.ni-ji{  background-color: rgb(48, 25, 175); }
span.so{  background-color: rgb(13, 104, 58); }
span.sa{  background-color: rgb(13, 104, 58); }



span.i{  background-color: rgb(175, 25, 25); }
span.a{  background-color: rgb(172, 175, 25); }
span.e{  background-color: rgb(7, 71, 150); }
